In [3]:
%matplotlib widget

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [6]:
combined_travel_df = pd.read_csv("Resources/combined_travel.csv")
combined_travel_df.head()

,COUNTRY OF NATIONALITY,2016 Alone,2016 With Spouse,2016 With Children,2016 With Family/Relatives,2016 Student Group,2016 With Friends,2016 With Business Associate,2016 With Incentive Group,2016 Others,...,2017 Others,2018 Alone,2018 With Spouse,2018 With Children,2018 With Family/Relatives,2018 Student Group,2018 With Friends,2018 With Business Associate,2018 With Incentive Group,2018 Others
0,SINGAPORE,18.6,35.5,3.9,23.7,0.1,14.7,2.2,0.4,0.8,...,0.5,16.9,34.6,5.0,25.3,0.7,14.4,0.6,2.5,0.1
1,THAILAND,30.1,16.7,0.9,12.0,3.1,30.2,4.8,1.0,1.2,...,1.8,20.6,6.7,7.2,33.5,1.2,29.8,0.4,0.4,0.2
2,INDONESIA,12.9,24.6,3.8,37.9,0.9,14.9,2.1,1.6,1.2,...,1.4,11.3,31.1,4.0,34.4,1.1,14.7,0.7,2.3,0.5
3,BRUNEI,10.2,24.9,2.2,44.5,0.0,16.2,1.1,0.1,0.7,...,0.0,17.5,28.1,2.0,40.0,0.1,11.6,0.4,0.1,0.1
4,PHILIPPINES,13.9,27.5,1.5,15.0,5.5,34.1,1.1,0.0,1.5,...,0.2,5.5,20.6,0.7,29.5,0.5,39.2,1.6,1.6,0.7

In [49]:
# set up data to use for plot
country_df = combined_travel_df.set_index(["COUNTRY OF NATIONALITY"])
companion_df = country_df[["2016 Alone","2017 Alone","2018 Alone"]]
companion_df = companion_df.iloc[[1,8,20]]
companion_df

                        2016 Alone  2017 Alone  2018 Alone
COUNTRY OF NATIONALITY
THAILAND                      30.1        23.2        20.6
SOUTH KOREA                    9.4         4.6         1.6
IRELAND                       25.3        17.2        11.9

KeyError: ('2016 Alone', '2017 Alone', '2018 Alone')