In [22]:
# Dependencies
import pandas as pd
from pathlib import Path

In [23]:
# Load in file
# Store filepath in a variable
movie_file = Path("Resources/movie_scores.csv")

In [24]:
# Read and display the CSV with Pandas
movie_df = pd.read_csv(movie_file, encoding="utf-8")
movie_df.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [25]:
# List all the columns in the table

movie_df.columns

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

In [26]:
# We only want IMDb data, so create a new table that takes the Film and all the columns relating to IMDB
imdb_df = movie_df[['IMDB','IMDB_norm','IMDB_norm_round','IMDB_user_vote_count']]
imdb_df.head()

   IMDB  IMDB_norm  IMDB_norm_round  IMDB_user_vote_count
0   7.8       3.90              4.0                271107
1   7.1       3.55              3.5                 65709
2   7.8       3.90              4.0                103660
3   5.4       2.70              2.5                  3136
4   5.1       2.55              2.5                 19560

In [27]:
good_movie_df = movie_df.loc[movie_df["IMDB"] > 7, ["FILM", "IMDB"]]
good_movie_df.sort_values(by=["IMDB"], ascending = False)

                                                  FILM  IMDB
140                                  Inside Out (2015)   8.6
95                        The Salt of the Earth (2015)   8.4
76                       Straight Outta Compton (2015)   8.4
88                           Mad Max: Fury Road (2015)   8.3
86               Me and Earl and The Dying Girl (2015)   8.2
..                                                 ...   ...
120                                The Wolfpack (2015)   7.1
137                               Danny Collins (2015)   7.1
1                                    Cinderella (2015)   7.1
109  The 100-Year-Old Man Who Climbed Out the Windo...   7.1
114                         A Most Violent Year (2014)   7.1

[64 rows x 2 columns]

In [32]:
# Find less popular movies--i.e., those with fewer than 20K votes
unpop_movies_df = movie_df.loc[movie_df["IMDB_user_vote_count"]<20000, ["FILM","IMDB_user_vote_count"]]
unpop_movies_df.sort_values(by = ["IMDB_user_vote_count"])

                                FILM  IMDB_user_vote_count
70   Seymour: An Introduction (2015)                   243
122                 Tangerine (2015)                   696
71          The Wrecking Crew (2015)                   732
94              The Overnight (2015)                   867
68             Monkey Kingdom (2015)                   883
..                               ...                   ...
47                      Annie (2014)                 19222
19                     Pixels (2015)                 19521
4      Hot Tub Time Machine 2 (2015)                 19560
106                      Cake (2015)                 19627
33          The Boy Next Door (2015)                 19658

[79 rows x 2 columns]

In [34]:
# Finally, export this file to a spread so we can keep track of out new future watch list without the index
unpop_movies_df.to_csv("Resources/movies.csv", index = True)